{% extends 'superhero_theme.html' %}
{% load static %}
{% block content %}
<div class="text-center my-4">
    <img src="{% static '/images/' %}{{ hero.image }}" alt="{{ hero.name }}" class="img-fluid rounded mb-3">
    <h1 class="mb-3">{{ hero.name }}</h1>

    {% if hero.strengths %}
    <h3>Strengths</h3>
    <p>{{ hero.strengths }}</p>
    {% endif %}

    {% if hero.weaknesses %}
    <h3>Weaknesses</h3>
    <p>{{ hero.weaknesses }}</p>
    {% endif %}

    <a href="{% url 'hero-list' %}" class="btn btn-primary mt-4">Back to Superhero List</a>
</div>
{% endblock %}
